# core requirements
attrs==19.2.0
vistautils==0.19.0
immutablecollections==0.9.0


# extras for development
black==24.3.0
pytest==5.2.0
pytest-custom_exit_code
coverage==4.5.4
pytest-cov==2.8.0
pytest-benchmark==3.2.2
pylint==2.3.1
flake8==3.7.8
mypy==0.701
isort==4.3.21
towncrier
sphinx
sphinx-autodoc-typehints
sphinx_rtd_theme
